Repository depromeet/na-lab-server, pull requests merged in 2023-05, with the labels that each got.

#54 [fix] : `CI` accept CI와 unit CI 분리
  .github/workflows/accept-analyze.yml
  .github/workflows/build-assure.yml
  .github/workflows/unit-analyze.yml
Labels: squash merge

#52 [feat] : survey id 유즈케이스 `jpa-adaptor` 추가
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findid/SurveyIdFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/getid/SurveyIdGetService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/getid/SurveyIdGetServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findid/SurveyIdFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findid/repository/SurveyIdFindJpaRepository.java
  survey/jpa-adaptor/src/main/java/module-info.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findid/SurveyIdFindAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findid/TestSurveyJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findid/TestTargetJpaRepository.java
Labels: squash merge

#53 [feat] : `survey-id get` 유즈케이스 web-adaptor 구현
  coverage-exclude.luffy
  survey/application/src/main/java/me/nalab/survey/application/exception/TargetDoesNotHasSurveyException.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/getid/SurveyIdGetUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findid/SurveyIdFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/getid/SurveyIdGetService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/getid/SurveyIdGetServiceTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/ErrorTemplate.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/SurveyControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/SurveyIdGetController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/response/SurveyIdResponse.java
Labels: 🚀 sqaush merge

#59 [feat] : `squash` `rebase` auto labeling
  .github/workflows/rebase-labeler.yml
  .github/workflows/squash-labeler.yml
Labels: 🚀 rebase merge

#60 [fix] : `base-branch` name strategy
  .github/workflows/squash-labeler.yml
  .github/workflows/unit-analyze.yml
Labels: 🚀 rebase merge

#61 [feat] : accept test `base template`
  api/acceptance-test/build.gradle
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/AbstractDatabaseCleaner.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/resources/h2.properties
Labels: 🚀 rebase merge

#62 [feat] : `create-survey` 인수테스트 작성 및 버그 수정
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/DatabaseCleaner.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/TargetInitializer.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/TestEntryPoint.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/RequestSample.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/SurveyCreateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/dto/ChoiceFormQuestionRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/dto/ChoiceRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/dto/FormQuestionRequestable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/dto/ShortFormQuestionRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/dto/SurveyCreateRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
Labels: 🚀 rebase merge

#64 [refactor] : `position`, `collaboration-experience ` enum 삭제
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/RequestSample.java
  core/data/src/main/java/me/nalab/core/data/survey/ChoiceFormQuestionEntityType.java
  survey/application/src/main/java/me/nalab/survey/application/common/dto/ChoiceFormQuestionDtoType.java
  survey/application/src/test/java/me/nalab/survey/application/common/dto/CommonDtoEnumTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/ChoiceFormQuestionType.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/createsurvey/TestJson.java
Labels: 🚀 squash merge

#68 [feat] : `javax.validation` 전역 예외 핸들러 추가
  core/exception-handler/build.gradle
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ErrorTemplate.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  core/exception-handler/src/main/java/module-info.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestController.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestRequest.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/ValidationControllerAdviceTest.java
  settings.gradle
Labels: 🚀 squash merge

#69 [feat] : `javax.validation` 전역 예외 핸들러 추가
  core/exception-handler/build.gradle
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ErrorTemplate.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  core/exception-handler/src/main/java/module-info.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestController.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestRequest.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/ValidationControllerAdviceTest.java
  settings.gradle
Labels: 🚀 rebase merge

#67 [fix] : 질문 폼 조회 usecase에서 questions반환 시 order로 정렬한 후 반환하는 로직 추가
  survey/application/src/main/java/me/nalab/survey/application/service/find/SurveyFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/find/SurveyFindServiceTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/Choice.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/ChoiceFormQuestion.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/FormQuestionable.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/Survey.java
  survey/domain/src/test/java/me/nalab/survey/domain/AbstractSurveySources.java
  survey/domain/src/test/java/me/nalab/survey/domain/AbstractTargetSources.java
  survey/domain/src/test/java/me/nalab/survey/domain/survey/ChoiceTest.java
  survey/domain/src/test/java/me/nalab/survey/domain/survey/FormQuestionableTest.java
  survey/domain/src/test/java/me/nalab/survey/domain/survey/SurveyDomainTest.java
Labels: 🚀 squash merge

#75 [feat] : feedback 도메인과 정책 로직 추가
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestRequest.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/ValidationControllerAdviceTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/exception/IllegalFeedbackException.java
  survey/domain/src/main/java/me/nalab/survey/domain/exception/IllegalQuestionFeedbackException.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/ChoiceFormQuestionFeedback.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Feedback.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Reviewer.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/ShortFormQuestionFeedback.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/ChoiceFormQuestion.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/FormQuestionable.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/ShortFormQuestion.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/Survey.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/spi/FeedbackValidable.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/spi/QuestionFeedbackValidable.java
  survey/domain/src/main/java/module-info.java
  survey/domain/src/test/java/me/nalab/survey/domain/RandomSurveyFixture.java
  survey/domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
Labels: 🚀 rebase merge, 🚀 squash merge, ✨ feature

#76 [refactor] : `application.common` 안의 dto와 mapper surevy 패키지 하위로 이동
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ChoiceDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ChoiceFormQuestionDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ChoiceFormQuestionDtoType.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/FormQuestionDtoable.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/QuestionDtoType.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ShortFormQuestionDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ShortFormQuestionDtoType.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/SurveyDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/TargetDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/mapper/SurveyDtoMapper.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/mapper/TargetDtoMapper.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/CreateSurveyUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/survey/find/SurveyFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/target/find/TargetFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/service/create/SurveyCreateService.java
  survey/application/src/main/java/me/nalab/survey/application/service/find/SurveyFindService.java
  survey/application/src/main/java/me/nalab/survey/application/service/find/TargetFindService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/RandomSurveyDtoFixture.java
  survey/application/src/test/java/me/nalab/survey/application/common/dto/CommonDtoEnumTest.java
  survey/application/src/test/java/me/nalab/survey/application/common/mapper/SurveyDtoMapperTest.java
  survey/application/src/test/java/me/nalab/survey/application/common/mapper/TargetDtoMapperTest.java
  survey/application/src/test/java/me/nalab/survey/application/service/create/SurveyCreateServiceTest.java
  survey/application/src/test/java/me/nalab/survey/application/service/find/SurveyFindServiceTest.java
  survey/application/src/test/java/me/nalab/survey/application/service/find/TargetFindServiceTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateRequestMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ChoiceFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/FormQuestionRequestable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ShortFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/SurveyFindController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateRequestMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
Labels: 🚀 squash merge, ♻️ refactor

#77 [feat] : reviewer 이름 알파벳 대문자로 생성로직 추가
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Reviewer.java
  survey/domain/src/test/java/me/nalab/survey/domain/feedback/ReviewerGenerateNickNameTest.java
Labels: 🚀 squash merge, ✨ feature

#79 [feat] : feedback 도메인 설계
  core/data/src/main/java/me/nalab/core/data/feedback/ChoiceFormFeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntityType.java
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ReplyEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ReviewerEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/SelectEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ShortFormFeedbackEntity.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/TestRequest.java
  core/exception-handler/src/test/java/me/nalab/core/exception/handler/ValidationControllerAdviceTest.java
  coverage-exclude.luffy
Labels: 🚀 squash merge, ✨ feature

#81 [feat] : `feedback entity` <-> `feedback domain` 공용 매퍼 추가
  core/data/src/main/java/me/nalab/core/data/feedback/ChoiceFormFeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntityType.java
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ReplyEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ReviewerEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/SelectEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/ShortFormFeedbackEntity.java
  core/data/src/main/java/module-info.java
  coverage-exclude.luffy
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/FeedbackEntityMapper.java
Labels: 🚀 squash merge, ✨ feature

#82 [test] : feedback `인수테스트 supporter` 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
Labels: 🚀 squash merge, ✅ test

#85 [test] : `feedback 생성` 인수테스트 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/FeedbackCreateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/request/AbstractQuestionFeedbackRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/request/ChoiceQuestionFeedbackRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/request/FeedbackCreateRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/request/ReviewerRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/request/ShortQuestionFeedbackRequest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ChoiceFormQuestionResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ChoiceResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ShortFormQuestionResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/SurveyFindResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/TargetResponse.java
Labels: 🚀 squash merge, ✅ test

#87 [feat] : `Feedback 생성` 유즈케이스 추가
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/createfeedback/FeedbackCreateUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/createfeedback/FeedbackSavePort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/createfeedback/ReviewerLatestNameFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/createfeedback/SurveyFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/createfeedback/FeedbackCreateService.java
  survey/application/src/test/java/me/nalab/survey/application/RandomFeedbackDtoFixture.java
  survey/application/src/test/java/me/nalab/survey/application/TestIdGenerator.java
  survey/application/src/test/java/me/nalab/survey/application/service/createfeedback/FeedbackCreateServiceTest.java
Labels: 🚀 squash merge, ✨ feature

#91 [feat] : `Feedback web-adaptor` 생성
  coverage-exclude.luffy
  survey/application/src/main/java/module-info.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/FeedbackCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/AbstractQuestionFeedbackRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ChoiceQuestionFeedbackRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/FeedbackCreateRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ReviewerRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ShortQuestionFeedbackRequest.java
Labels: 🚀 squash merge, ✨ feature

#92 [feat] : 질문 폼의 요약정보 조회 유즈케이스 jpa-adaptor 구현
  survey/application/src/main/java/module-info.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/FeedbackCountAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/repository/FeedbackCountJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/FeedbackCountAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/TestFeedbackCountJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/TestReviewerSaveRepository.java
Labels: 🚀 squash merge, ✨ feature

#102 [fix] : 질문 폼의 요약정보 조회 유즈케이스 `jpa-adaptor` FIX
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/FeedbackCountAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/repository/FeedbackCountJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/TestFeedbackCountJpaRepository.java
Labels: 🚀 squash merge, 🐛 bug-fix

#104 [refactor] : 중간 코드 리팩토링
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/feedbacksummary/FeedbackSummaryFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/feedbacksummary/TotalFeedbackCountPort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/feedbacksummary/UpdatedFeedbackCountPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedbacksummary/FeedbackSummaryFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedbacksummary/FeedbackSummaryFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/FeedbackCountAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/repository/FeedbackCountJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/FeedbackCountAdaptorTest.java
Labels: 🚀 squash merge, ♻️ refactor

#98 [feat] : `reviewer summary` usecase 생성
  survey/application/src/main/java/me/nalab/survey/application/common/feedback/mapper/FeedbackDtoMapper.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/summaryreviewer/ReviewerSummarizeUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/summaryreviewer/ReviewerFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/summaryreviewer/SurveyExistCheckPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/summaryreviewer/ReviewerSummaryGetService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/TestIdGenerator.java
  survey/application/src/test/java/me/nalab/survey/application/service/summaryreviewer/ReviewerSummaryGetServiceTest.java
Labels: 🚀 squash merge, ✨ feature

#100 [feat] : reviewer summary 유즈케이스 `web adaptor` 추가
  coverage-exclude.luffy
  survey/application/src/main/java/module-info.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReveiwerSummaryController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReviewerSummaryResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/CollaborationSummaryResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/PositionSummaryReponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/ReviewerSummaryResponse.java
Labels: 🚀 squash merge, ✨ feature

#106 [fix] : `summary reviewer` 인수테스트 돌아가지 않는 버그 수정
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/reviewer/summary/ReviewerSummarizeAcceptanceTest.java
  survey/application/src/main/java/me/nalab/survey/application/common/feedback/mapper/FeedbackDtoMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReveiwerSummaryController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/CollaborationSummaryResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/PositionSummaryReponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/ReviewerSummaryResponse.java
Labels: 🚀 squash merge, 🐛 bug-fix

#108 [test] : feedback 조회 `인수테스트 작성`
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackCreateRequestFixture.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
Labels: 🚀 squash merge, ✅ test

#109 [test] : 질문 폼의 피드백 요약 인수테스트 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findsummary/FeedbackFindSummaryAcceptanceTest.java
Labels: 🚀 squash merge, ✅ test

#110 [feat] : 질문 폼의 요약정보 조회 유즈케이스 `web-adaptor` 구현
  coverage-exclude.luffy
  survey/application/src/main/java/module-info.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbacksummary/FeedbackSummaryController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbacksummary/response/FeedbackSummaryResponse.java
Labels: 🚀 squash merge, ✨ feature

#112 [feat] : surveyId에 해당하는 feedback 정보 조회 유즈케이스
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/FeedbackFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/FeedbackFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/SurveyExistCheckPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedback/FeedbackFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedback/FeedbackFindServiceTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Feedback.java
  survey/domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
Labels: 🚀 squash merge, ✨ feature

#116 [feat] : SurveyExistCheckAdaptor 추가
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/SurveyExistCheckAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/repository/SurveyExistCheckJpaRepository.java
  survey/jpa-adaptor/src/main/java/module-info.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/SurveyExistCheckAdaptorTest.java
Labels: 🚀 squash merge, ✨ feature

#118 [fix] : find feedback 유즈케이스 인수테스트 버그 수정
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedback/FeedbackFindService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedback/FeedbackFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/SurveyExistCheckAdaptor.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/AbstractFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ReviewerResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/ChoiceSurveyResponse.java
Labels: 🚀 squash merge, 🐛 bug-fix

#119 [feat] : feedback 조회 기능 개발 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackCreateRequestFixture.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntity.java
  coverage-exclude.luffy
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/FeedbackFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/FeedbackFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/SurveyExistCheckPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedback/FeedbackFindService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedback/FeedbackFindServiceTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Feedback.java
  survey/domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/FeedbackFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/SurveyExistCheckAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/repository/FeedbackFindRepository.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/repository/SurveyExistCheckJpaRepository.java
  survey/jpa-adaptor/src/main/java/module-info.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/FeedbackFindAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/SurveyExistCheckAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/TestFeedbackJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/TestSurveyJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/TestTargetJpaRepository.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/FeedbackFindController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/QuestionFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/AbstractFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ChoiceFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ReviewerResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ShortFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/AbstractSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/ChoiceSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/ShortSurveyResponse.java
Labels: 🚀 rebase merge, ✨ feature

#122 [chore] : sonar analyze main 에서 돌아가게 수정
  .github/workflows/accept-analyze.yml
Labels: 🚀 squash merge, 🍻 chore

#120 [feat] : 질문 폼의 모든 리뷰어 조회- 인수테스트 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findreviewers/ReviewersFindAcceptanceTest.java
Labels: 🚀 squash merge, ✨ feature

#121 [feat] : 질문 폼의 모든 리뷰어 목록 조회 `application`, `jpa-adaptor`, `web-adaptor` 구현
  coverage-exclude.luffy
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/feedbackreviewers/FeedbackReviewersFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/feedbackreviewers/FeedbacksFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/feedbackreviewers/FeedbackReviewersFindService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/feedbackreviewers/FeedbackReviewersFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/feedbackreviewers/FeedbacksReviewersAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/feedbackreviewers/repository/FeedbackFindJpaRepository.java
  survey/jpa-adaptor/src/main/java/module-info.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/feedbackreviewers/FeedbacksReviewersAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/feedbackreviewers/TestFeedbackFindJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/feedbackreviewers/TestSurveyCreateJpaRepository.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/response/FeedbackReviewer.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/response/FeedbackReviewersResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/response/ReviewerResponse.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapperTest.java
Labels: 🚀 squash merge, ✨ feature

#124 [refactor] : ReviewerSummaryController `code smell 제거`
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReveiwerSummaryController.java
Labels: 🚀 squash merge, ♻️ refactor

#125 [feat] : TSID id generator 추가
  core/id-generator/id-generator-starter/build.gradle
  core/id-generator/id-generator-starter/src/main/java/me/nalab/core/idgenerator/starter/IdGeneratorConfigurer.java
  core/id-generator/id-generator-starter/src/main/java/module-info.java
  core/id-generator/tsid/build.gradle
  core/id-generator/tsid/src/main/java/me/nalab/core/idgenerator/tsid/TsidGenerator.java
  core/id-generator/tsid/src/main/java/me/nalab/core/idgenerator/tsid/engine/TsidEngine.java
  core/id-generator/tsid/src/main/java/module-info.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/DefaultTsidActor.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/ThreadTsidActor.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/TsidConfigurer.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/TsidPerformanceTest.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#126 [feat] : 개별 피드백 응답 조회 - `인수테스트` 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findspecific/SpecificFindAcceptanceTest.java
Labels: 🚀 squash merge, ✨ feature

#127 [feat] : TSID id generator 개발 완료
  core/id-generator/id-generator-starter/build.gradle
  core/id-generator/id-generator-starter/src/main/java/me/nalab/core/idgenerator/starter/IdGeneratorConfigurer.java
  core/id-generator/id-generator-starter/src/main/java/module-info.java
  core/id-generator/tsid/build.gradle
  core/id-generator/tsid/src/main/java/me/nalab/core/idgenerator/tsid/TsidGenerator.java
  core/id-generator/tsid/src/main/java/me/nalab/core/idgenerator/tsid/engine/TsidEngine.java
  core/id-generator/tsid/src/main/java/module-info.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/DefaultTsidActor.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/ThreadTsidActor.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/TsidConfigurer.java
  core/id-generator/tsid/src/test/java/me/nalab/core/idgenerator/tsid/TsidPerformanceTest.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 rebase merge, ✨ feature

#130 [chore] : api 에서 다른모듈로 의존성 추가
  api/acceptance-test/build.gradle
  api/build.gradle
  api/src/main/java/me/nalab/api/NalabApplication.java
  api/src/main/resources/application.properties
Labels: 🚀 squash merge, 🍻 chore

#133 [feat] : 개별 피드백 응답 조회 - `jpa-adaptor` 구현 완료
  survey/application/src/main/java/module-info.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/SurveyFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/repository/FeedbackFindJpaRepository.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/repository/SurveyFindJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackFindAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/SurveyFindAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/TestFeedbackFindJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/TestSurveyFindJpaRepository.java
Labels: 🚀 squash merge, ✨ feature

#134 [feat] : time util 기능
  core/time/build.gradle
  core/time/src/main/java/me/nalab/core/time/TimeUtil.java
  core/time/src/main/java/me/nalab/core/time/request/RequestTimeUtil.java
  core/time/src/main/java/module-info.java
  core/time/src/test/java/me/nalab/core/time/RequestTimeUtilTest.java
  core/time/src/test/java/me/nalab/core/time/TestController.java
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#135 [ENTITY] 유저 엔티티 정의 및 도메인 연결, 테스트 구현
  core/data/src/main/java/me/nalab/core/data/user/UserEntity.java
  settings.gradle
  user/application/.gitignore
  user/application/build.gradle
  user/application/src/main/java/me/nalab/user/application/port/out/persistence/UserCreatePort.java
  user/domain/src/main/java/me/nalab/user/domain/user/User.java
  user/jpa-adapter/.gitignore
  user/jpa-adapter/build.gradle
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserCreateAdaptor.java
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserObjectMapper.java
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/repository/UserJpaRepository.java
  user/jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserCreateAdaptorTest.java
  user/jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserTestUtils.java
  user/jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserObjectMapperTest.java
  user/jpa-adapter/src/test/resources/h2.properties
Labels: 🚀 squash merge

#136 [feat] : simple docker 생성
  Dockerfile
Labels: 🚀 squash merge, ✨ feature

#138 [FEAT] 프로바이더와 토큰을 이용한 유저 조회 구현
  core/data/src/main/java/module-info.java
  coverage-exclude.luffy
  user/application/build.gradle
  user/application/src/main/java/me/nalab/user/application/common/dto/FindByProviderAndTokenRequest.java
  user/application/src/main/java/me/nalab/user/application/port/in/UserFindByProviderAndTokenUseCase.java
  user/application/src/main/java/me/nalab/user/application/port/out/persistence/UserFindByProviderAndTokenPort.java
  user/application/src/main/java/me/nalab/user/application/service/UserFindByProviderAndTokenService.java
  user/application/src/main/java/module-info.java
  user/application/src/test/java/me/nalab/user/application/service/UserFindByProviderAndTokenServiceTest.java
  user/domain/src/main/java/module-info.java
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserFindByProviderAndTokenAdaptor.java
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/repository/UserJpaRepository.java
  user/jpa-adapter/src/main/java/module-info.java
  user/jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserFindByProviderAndTokenAdaptorTest.java
Labels: 🚀 squash merge, ✨ feature

#140 [test] : SpecificFeedbackResponseMapper test 추가
  coverage-exclude.luffy
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
Labels: 🚀 squash merge, ✅ test

#141 [fix] : sonar cloud에서 exclude 안되는 문제
  coverage-exclude.luffy
  gradle/sonar.gradle
Labels: 🚀 squash merge, 🐛 bug-fix

#142 [fix] : `sonar cloud exclude` 자동화
  gradle/sonar.gradle
Labels: 🚀 squash merge, 🐛 bug-fix

#143 [chore] : `flyway` 부착 및 `docker DB env` 구성
  Dockerfile
  api/acceptance-test/build.gradle
  api/acceptance-test/src/test/resources/h2.properties
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/db/migration/V1__init.sql
  build.gradle
  core/data/src/main/java/me/nalab/core/data/feedback/FeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
  core/data/src/main/java/me/nalab/core/data/survey/ChoiceEntity.java
  core/data/src/main/java/me/nalab/core/data/survey/FormQuestionEntity.java
  survey/jpa-adaptor/src/test/resources/h2.properties
Labels: 🚀 squash merge, 🍻 chore
