Repository depromeet/na-lab-server, pull requests merged in 2023-07, with the labels that each got.

#286 [feat] : 2차 MVP mock api 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  support/e2e/v1_1_survey_create.hurl
  support/e2e/v1_2_feedback_create.hurl
  support/e2e/v1_3_feedback_find.hurl
  support/e2e/v2_3_feedback_find.hurl
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/FeedbackFindController.java
Labels: 🚀 squash merge, ✨ feature

#289 [feat] : `bookmark`, `target position` 도메인 업데이트
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/Bookmark.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/target/Target.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/AbstractTargetSources.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/target/TargetDomainTest.java
Labels: 🚀 squash merge, ✨ feature

#291 [feat] : target, bookmark 엔티티 업데이트
  api/src/main/resources/db/migration/V4__add_bookmark.sql
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
Labels: 🚀 squash merge, ✨ feature

#296 [feat] : 2차 MVP 엔티티 추가 (target position)
  api/src/main/resources/db/migration/V5__add_target_position.sql
  core/data/src/main/java/me/nalab/core/data/target/TargetEntity.java
Labels: 🚀 squash merge, ✨ feature

#297 [feat] : 2차 MVP 공용 매퍼, DTO 업데이트
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/BookmarkResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/feedback/dto/BookmarkDto.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/feedback/dto/FormQuestionFeedbackDtoable.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/feedback/mapper/FeedbackDtoMapper.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/survey/dto/TargetDto.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/survey/mapper/TargetDtoMapper.java
  survey/survey-application/src/test/java/me/nalab/survey/application/RandomFeedbackDtoFixture.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/FeedbackEntityMapper.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/TargetEntityMapper.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/RandomFeedbackFixture.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptorTest.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/FeedbackCreateController.java
Labels: 🚀 squash merge, ✨ feature

#299 [feat] : flyway v6 업데이트
  api/src/main/resources/db/migration/V6__bookmarked_at_not_null.sql
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
Labels: 🚀 squash merge, ✨ feature

#302 [refactor] : 질문폼의 모든 피드백 조회 v2로 업데이트, is_read 버그 수정
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
  support/e2e/v1_3_feedback_find.hurl
  support/e2e/v2_3_feedback_find.hurl
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/AbstractFeedbackResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/BookmarkResponse.java
Labels: 🚀 squash merge, ♻️ refactor

#303 [feat] : 질문폼의 북마크된 피드백 교체 - `인수테스트` 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/bookmark/BookmarkReplaceAcceptanceTest.java
Labels: 🚀 squash merge, ✨ feature

#308 [fix] : 질문폼의 타입에 해당하는 피드백 조회 mock api 수정
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
Labels: 🐛 bug-fix

#304 [feat] : 질문폼의 북마크된 피드백 교체 - `application` 추가
  core/data/src/main/java/me/nalab/core/data/feedback/FormFeedbackEntity.java
  survey/survey-application/src/main/java/me/nalab/survey/application/exception/FormQuestionFeedbackNotExistException.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/bookmark/BookmarkReplaceUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/bookmark/FormQuestionFeedbackFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/bookmark/FormQuestionFeedbackUpdatePort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/bookmark/ReplaceBookmarkService.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/bookmark/ReplaceBookmarkServiceTest.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/Bookmark.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/feedback/BookmarkTest.java
Labels: 🚀 squash merge, ✨ feature

#311 [feat] : 질문폼의 북마크된 피드백 교체 - `jpa-adaptor` 추가
  survey/survey-application/src/main/java/module-info.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackUpdateAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/repository/FormQuestionFeedbackFindRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/repository/FormQuestionFeedbackUpdateRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/FeedbackEntityMapper.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackUpdateAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/bookmark/TestFeedbackSaveJpaRepository.java
Labels: 🚀 squash merge, ✨ feature

#314 [feat] : `formQuestionFeedbackId`로 Authorization 기능 추가
  survey/survey-application/src/main/java/me/nalab/survey/application/exception/FormQuestionFeedbackNotExistException.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/authorization/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidator.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidatorFactory.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidatorTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/repository/TargetIdFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptorTest.java
Labels: ✨ feature

#312 [feat] : 질문폼의 북마크된 피드백 교체 - `web-adaptor` 구현 완료
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/me/nalab/survey/application/exception/FormQuestionFeedbackNotExistException.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/authorization/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidator.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidatorFactory.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/authorization/FormQuestionFeedbackIdValidatorTest.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/Bookmark.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/feedback/BookmarkTest.java
  survey/survey-domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/repository/TargetIdFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptorTest.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/bookmark/BookmarkReplaceController.java
Labels: 🚀 squash merge, ✨ feature

#315 [fix] : 북마크시 jpa 변경 감지 이용하도록 수정, 인증에 Auth 어노테이션 누락 수정
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackUpdateAdaptor.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/bookmark/BookmarkReplaceController.java
Labels: 🚀 squash merge, 🐛 bug-fix

#318 [feat] : 로그인된 타겟의 정보 수정 - `인수테스트` 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/UserAcceptanceTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/UserAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/updatetarget/TargetPositionUpdateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/updatetarget/request/RequestSample.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/updatetarget/request/TargetPositionUpdateRequest.java
Labels: 🚀 squash merge, ✨ feature

#320 [feat] : 로그인된 타겟의 정보 수정 - `jpa-adaptor` 구현 완료
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/target/update/TargetPositionUpdatePort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/updatetarget/TargetPositionUpdateService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/updatetarget/TargetPositionUpdateServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/updatetarget/TargetFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/updatetarget/TargetPositionUpdateAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/updatetarget/repository/TargetFindRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/updatetarget/repository/TargetPositionUpdateRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/updatetarget/TargetFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/updatetarget/TargetPositionUpdateAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/updatetarget/TestTargetFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/updatetarget/TestTargetPositionUpdateRepository.java
Labels: 🚀 squash merge, ✨ feature

#323 [feat] : 질문폼에 해당하는 타겟의 정보 조회 - `인수테스트` 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/findtarget/TargetFindAcceptanceTest.java
Labels: 🚀 squash merge, ✨ feature

#321 [feat] : 로그인된 타겟의 정보 수정 - `web-adaptor` 구현 완료
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/module-info.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/updatetarget/TargetPositionUpdateController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/updatetarget/request/TargetPositionUpdateRequest.java
Labels: 🚀 squash merge, ✨ feature

#325 [feat] : 질문폼에 해당하는 타겟의 정보 조회 - `application` 추가
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findtarget/TargetFindBySurveyIdUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findtarget/TargetFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findtarget/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findtarget/TargetFindBySurveyIdService.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findtarget/TargetFindBySurveyIdServiceTest.java
Labels: 🚀 squash merge, ✨ feature

#326 [feat] : 질문폼에 해당하는 타겟의 정보 조회 - `jpa-adaptor` 구현 완료
  survey/survey-application/src/main/java/module-info.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/TargetFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/repository/TargetFindJpaRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/repository/TargetIdFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TargetFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TargetIdFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TestTargetFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TestTargetIdFindJpaRepository.java
Labels: 🚀 squash merge, ✨ feature

#327 [feat] : 질문폼에 해당하는 타겟의 정보 조회 - `web-adaptor` 구현 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/interceptor/MockAuthInterceptor.java
  auth/auth-mock/src/test/java/me/nalab/auth/mock/interceptor/MockAuthInterceptorTest.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/module-info.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/TargetFindBySurveyIdController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/TargetResponseMapper.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/response/TargetResponse.java
Labels: 🚀 squash merge, ✨ feature

#328 [feat] : `질문폼에 해당하는 타겟의 정보 조회` 기능 개발 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/findtarget/TargetFindAcceptanceTest.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/interceptor/MockAuthInterceptor.java
  auth/auth-mock/src/test/java/me/nalab/auth/mock/interceptor/MockAuthInterceptorTest.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findtarget/TargetFindBySurveyIdUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findtarget/TargetFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findtarget/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findtarget/TargetFindBySurveyIdService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findtarget/TargetFindBySurveyIdServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/TargetFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/repository/TargetFindJpaRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findtarget/repository/TargetIdFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TargetFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TargetIdFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TestTargetFindJpaRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findtarget/TestTargetIdFindJpaRepository.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/TargetFindBySurveyIdController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/TargetResponseMapper.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findtarget/response/TargetResponse.java
Labels: 🚀 squash merge, ✨ feature

#330 [feat] : 질문폼의 타입에 해당하는 피드백 조회 - `인수테스트` 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindByTypeAcceptanceTest.java
Labels: 🚀 squash merge, ✨ feature

#332 [test] : e2e test v1_5 추가
  support/e2e/v1_5_target.hurl
Labels: 🚀 squash merge, ✅ test

#331 [feat] : 질문폼의 타입에 해당하는 피드백 조회 - `application` 추가
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/type/FeedbackFindByTypeUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/type/FeedbackFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/type/SurveyFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/type/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findfeedback/type/FeedbackFindByTypeService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findfeedback/type/FeedbackFindByTypeServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/SurveyEntityMapper.java
Labels: 🚀 squash merge, ✨ feature

#333 [feat] : 질문폼의 타입에 해당하는 피드백 조회 - `jpa-adaptor` , `web-adaptor` 구현 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindByTypeAcceptanceTest.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/formtype/FeedbackFindByTypeUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/FeedbackFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/SurveyFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findfeedback/formtype/FeedbackFindByTypeService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findfeedback/formtype/FeedbackFindByTypeServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/FeedbackFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/SurveyFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/repository/FeedbackFindRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/repository/SurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/FeedbackFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/SurveyFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TargetIdFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestFeedbackFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestSurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestTargetRepository.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/FeedbackFindByFormTypeController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/QuestionFeedbackResponseMapper.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/QuestionFeedbackResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/AbstractFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ChoiceFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ChoiceResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ShortFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ShortResponse.java
Labels: 🚀 squash merge, ✨ feature

#334 [feat] : `질문폼의 타입에 해당하는 피드백 조회` 기능 개발 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindByTypeAcceptanceTest.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/formtype/FeedbackFindByTypeUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/FeedbackFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/SurveyFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/formtype/TargetIdFindPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findfeedback/formtype/FeedbackFindByTypeService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findfeedback/formtype/FeedbackFindByTypeServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/SurveyEntityMapper.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/FeedbackFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/SurveyFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TargetIdFindAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/repository/FeedbackFindRepository.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/repository/SurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/FeedbackFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/SurveyFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TargetIdFindAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestFeedbackFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestSurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/formtype/TestTargetRepository.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/FeedbackFindByFormTypeController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/QuestionFeedbackResponseMapper.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/QuestionFeedbackResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/AbstractFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ChoiceFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ChoiceResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ShortFormQuestionResponse.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/formtype/response/formquestion/ShortResponse.java
Labels: 🚀 rebase merge, ✨ feature

#336 [fix] : `/v2 API` CORS 에러 수정
  core/secure/src/main/java/me/nalab/core/secure/cors/CorsConfig.java
  core/secure/src/main/java/module-info.java
Labels: 🚀 squash merge, 🐛 bug-fix

#313 [feat] : 북마크된 피드백 조회 기능 구현 및 테스트 작성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/AbstractFeedbackTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/interceptor/MockAuthInterceptor.java
  survey/survey-application/src/main/java/me/nalab/survey/application/common/feedback/mapper/FeedbackDtoMapper.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/BookmarkedFeedbackFindUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/findfeedback/BookmarkedFeedbackFindService.java
  survey/survey-application/src/test/java/me/nalab/survey/application/RandomFeedbackDtoFixture.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findfeedback/BookmarkedFeedbackFindServiceTest.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/findfeedback/FeedbackFindServiceTest.java
  survey/survey-domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/bookmark/FormQuestionFeedbackUpdateAdaptor.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/FeedbackFindController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
Labels: 🚀 rebase merge, ✨ feature

#329 [test] : `북마크 추가, 삭제 및 조회` e2e 테스트 추가
  support/e2e/v1_4_bookmark.hurl
Labels: 🚀 squash merge, ✅ test

#339 [fix] : coverage-exclude.luffy 개행 버그 수정
  coverage-exclude.luffy
Labels: 🚀 rebase merge, 🐛 bug-fix

#345 [test] : survey 존재 유무 확인 인수테스트 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/exists/SurveyExistsAcceptanceTest.java
Labels: 🚀 squash merge, ✅ test

#346 [feat] : survey 존재 유무 확인 `Use case` 추가
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/existsurvey/SurveyExistUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/existsurvey/SurveyExistPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/existsurvey/SurveyExistService.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/existsurvey/SurveyExistServiceTest.java
Labels: 🚀 squash merge, ✨ feature

#347 [feat] : survey 존재 유무 확인 - `jpa-adaptor` 구현 완료
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/exists/SurveyExistsAcceptanceTest.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/existsurvey/SurveyExistUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/existsurvey/SurveyExistPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/existsurvey/SurveyExistService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/existsurvey/SurveyExistServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/repository/SurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestSurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestTargetRepository.java
Labels: 🚀 squash merge, ✨ feature

#350 [feat] : survey 존재 유무 확인 - `web-adaptor` 구현 완료
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  coverage-exclude.luffy
  survey/survey-application/src/main/java/module-info.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/existsurvey/SurveyExistController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/existsurvey/response/SurveyExistResponse.java
Labels: 🚀 squash merge, ✨ feature

#348 Revert "[feat] : survey 존재 유무 확인 - `jpa-adaptor` 구현 완료"
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/exists/SurveyExistsAcceptanceTest.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/existsurvey/SurveyExistUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/existsurvey/SurveyExistPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/existsurvey/SurveyExistService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/existsurvey/SurveyExistServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/repository/SurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestSurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestTargetRepository.java
Labels: 🚀 squash merge

#351 [test] : `survey 존재 유무 확인` e2e test 추가
  support/e2e/v1_5_target.hurl
Labels: 🚀 squash merge, ✅ test

#353 [feat] : `survey 존재 유무 확인` api 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/exists/SurveyExistsAcceptanceTest.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  coverage-exclude.luffy
  support/e2e/v1_5_target.hurl
  survey/survey-application/src/main/java/me/nalab/survey/application/port/in/web/existsurvey/SurveyExistUseCase.java
  survey/survey-application/src/main/java/me/nalab/survey/application/port/out/persistence/existsurvey/SurveyExistPort.java
  survey/survey-application/src/main/java/me/nalab/survey/application/service/existsurvey/SurveyExistService.java
  survey/survey-application/src/main/java/module-info.java
  survey/survey-application/src/test/java/me/nalab/survey/application/service/existsurvey/SurveyExistServiceTest.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptor.java
  survey/survey-jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/existsurvey/repository/SurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/SurveyExistAdaptorTest.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestSurveyFindRepository.java
  survey/survey-jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/existsurvey/TestTargetRepository.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/existsurvey/SurveyExistController.java
  survey/survey-web-adaptor/src/main/java/me/nalab/survey/web/adaptor/existsurvey/response/SurveyExistResponse.java
Labels: ✨ feature

#358 [chore] : HURL verison 4.0.0으로 업그레이드
  .github/workflows/e2e.yml
  support/e2e/Dockerfile
Labels: 🚀 squash merge, 🍻 chore
