Repository depromeet/na-lab-server, pull requests merged in 2023-06, with the labels that each got.

#144 [chore] : Docker image publisher 생성
  .github/workflows/docker-publisher.yml
  .github/workflows/release-labeler.yml
Labels: 🚀 squash merge, 🍻 chore

#146 [feat] AuthToken 생성 로직 추가
  auth/auth-application/.gitignore
  auth/auth-application/build.gradle
  auth/auth-application/src/main/java/me/nalab/auth/application/common/config/PropertyConfig.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/AuthToken.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/CreateAuthTokenRequest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/Payload.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/property/JwtProperties.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/utils/JwtUtils.java
  auth/auth-application/src/main/java/me/nalab/auth/application/port/in/web/AuthTokenCreateUseCase.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/AuthTokenCreateService.java
  auth/auth-application/src/main/java/module-info.java
  auth/auth-application/src/main/resources/application.yml
  auth/auth-application/src/test/java/me/nalab/auth/application/service/AuthTokenCreateServiceTest.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#148 [feat] : CORS 핸들러 추가
  api/build.gradle
  core/secure/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  core/secure/src/main/java/module-info.java
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#149 [feat] : CORS 핸들링 버전 release
  .github/workflows/docker-publisher.yml
  .github/workflows/release-labeler.yml
  .github/workflows/start-api-server.yml
  api/build.gradle
  core/secure/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  core/secure/src/main/java/module-info.java
  settings.gradle
Labels: ✨ feature, 🔖 release

#150 [chore] : `mocking api` 추가
  api/api-mock/build.gradle
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  api/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 squash merge, 🍻 chore

#151 [chore] : mocking api 추가
  api/api-mock/build.gradle
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  api/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🍻 chore, 🔖 release

#153 [fix] : mock api 수정
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  core/secure/src/main/java/module-info.java
Labels: 🚀 squash merge, 🐛 bug-fix

#154 [fix] : mock api 수정
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
  core/secure/src/main/java/module-info.java
Labels: 🐛 bug-fix, 🔖 release

#156 [Feat] OAuth를 이용한 유저 생성 구현
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/SignUpWithOAuthRequest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/port/in/web/SignUpWithOAuthUseCase.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignUpWithOAuthService.java
  auth/auth-application/src/main/java/module-info.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/SignUpWithOAuthServiceTest.java
  user/application/build.gradle
  user/application/src/main/java/me/nalab/user/application/common/dto/CreateUserWithOAuthRequest.java
  user/application/src/main/java/me/nalab/user/application/port/in/UserCreateWithOAuthUseCase.java
  user/application/src/main/java/me/nalab/user/application/port/out/persistence/UserCreateWithOAuthPort.java
  user/application/src/main/java/me/nalab/user/application/service/UserCreateWithOAuthService.java
  user/application/src/main/java/module-info.java
  user/application/src/test/java/me/nalab/user/application/service/UserCreateWithOAuthServiceTest.java
  user/domain/src/main/java/me/nalab/user/domain/user/Provider.java
  user/jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserCreateWithOAuthAdaptor.java
  user/jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserCreateWithOAuthAdaptorTest.java
Labels: 🚀 squash merge, ✨ feature

#158 [FIX] String Null and Empty 검증 수정 / dto 빌더 추가
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/SignUpWithOAuthRequest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/AuthTokenCreateService.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignUpWithOAuthService.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/AuthTokenCreateServiceTest.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/SignUpWithOAuthServiceTest.java
Labels: 🚀 squash merge, 🐛 bug-fix

#159 [chore] : issues auto labelling
  .github/workflows/type-labeler.yml
Labels: 🚀 squash merge, 🍻 chore

#162 [fix] build 에러 수정
  settings.gradle
Labels: 🚀 squash merge, 🐛 bug-fix

#163 [Feat] 유저 생성 로직에 타겟 생성 로직 추가
  auth/auth-application/build.gradle
  coverage-exclude.luffy
  settings.gradle
  survey/application/src/main/java/me/nalab/survey/application/common/target/dto/CreateTargetRequest.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/CreateTargetUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/CreateTargetPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/create/CreateTargetService.java
  survey/application/src/main/java/module-info.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/create/repository/CreateTargetAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/create/repository/TargetCreateJpaRepository.java
  user/user-application/.gitignore
  user/user-application/build.gradle
  user/user-application/src/main/java/me/nalab/user/application/common/dto/CreateUserWithOAuthRequest.java
  user/user-application/src/main/java/me/nalab/user/application/common/dto/FindByProviderAndTokenRequest.java
  user/user-application/src/main/java/me/nalab/user/application/port/in/UserCreateWithOAuthUseCase.java
  user/user-application/src/main/java/me/nalab/user/application/port/in/UserFindByProviderAndTokenUseCase.java
  user/user-application/src/main/java/me/nalab/user/application/port/out/persistence/UserCreatePort.java
  user/user-application/src/main/java/me/nalab/user/application/port/out/persistence/UserCreateWithOAuthPort.java
  user/user-application/src/main/java/me/nalab/user/application/port/out/persistence/UserFindByProviderAndTokenPort.java
  user/user-application/src/main/java/me/nalab/user/application/service/UserCreateWithOAuthService.java
  user/user-application/src/main/java/me/nalab/user/application/service/UserFindByProviderAndTokenService.java
  user/user-application/src/main/java/module-info.java
  user/user-application/src/test/java/me/nalab/user/application/service/UserCreateWithOAuthServiceTest.java
  user/user-application/src/test/java/me/nalab/user/application/service/UserFindByProviderAndTokenServiceTest.java
  user/user-domain/.gitignore
  user/user-domain/build.gradle
  user/user-domain/src/main/java/me/nalab/user/domain/user/Provider.java
  user/user-domain/src/main/java/me/nalab/user/domain/user/User.java
  user/user-domain/src/main/java/me/nalab/user/domain/user/UserOAuthInfo.java
  user/user-domain/src/main/java/module-info.java
  user/user-jpa-adapter/.gitignore
  user/user-jpa-adapter/build.gradle
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserCreateAdaptor.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserCreateWithOAuthAdaptor.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/UserFindByProviderAndTokenAdaptor.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserOAuthInfoMapper.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserObjectMapper.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/repository/UserJpaRepository.java
  user/user-jpa-adapter/src/main/java/me/nalab/user/jpa/adaptor/create/repository/UserOAuthInfoJpaRepository.java
  user/user-jpa-adapter/src/main/java/module-info.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserCreateAdaptorTest.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserCreateWithOAuthAdaptorTest.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserFindByProviderAndTokenAdaptorTest.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserOAuthInfoTestUtils.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/UserTestUtils.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserOAuthInfoMapperTest.java
  user/user-jpa-adapter/src/test/java/me/nalab/user/jpa/adaptor/create/common/mapper/UserObjectMapperTest.java
  user/user-jpa-adapter/src/test/resources/application-test.yaml
  user/user-jpa-adapter/src/test/resources/h2.properties
Labels: 🚀 rebase merge, ✨ feature

#166 [feat] : logined user 정보 조회 `유즈케이스 추가`
  user/user-application/src/main/java/me/nalab/user/application/common/dto/LoginedInfo.java
  user/user-application/src/main/java/me/nalab/user/application/port/in/LoginedUserGetByTokenUseCase.java
  user/user-application/src/main/java/me/nalab/user/application/port/out/persistence/LoginedUserGetByTokenPort.java
  user/user-application/src/main/java/me/nalab/user/application/service/LoginedUserGetByTokenService.java
  user/user-application/src/test/java/me/nalab/user/application/service/LoginedUserGetByTokenServiceTest.java
Labels: 🚀 squash merge, ✨ feature

#164 [test] : login 된 유저 조회 인수테스트 작성
  api/acceptance-test/build.gradle
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/UserAcceptanceTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/UserAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/user/logined/LoginedTargetFindAcceptanceTest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/Payload.java
  user/user-domain/src/main/java/me/nalab/user/domain/user/Provider.java
Labels: 🚀 squash merge, ✅ test

#171 [fix] : 에러핸들링 누락된 부분 추가
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/SurveyControllerAdvice.java
Labels: 🚀 squash merge, 🐛 bug-fix

#172 [API] OAuth 기반 로그인 api 구현 및 인수 테스트 작성
  api/acceptance-test/build.gradle
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/UserInitializer.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/AbstractAuthTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/SignInWithOAuthAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/AbstractSurveyTestSupporter.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignInWithOAuthService.java
  auth/auth-application/src/main/java/module-info.java
  auth/auth-web-adaptor/.gitignore
  auth/auth-web-adaptor/build.gradle
  auth/auth-web-adaptor/src/main/java/me/nalab/auth/web/adaptor/api/SignInWithOAuthController.java
  auth/auth-web-adaptor/src/main/java/module-info.java
  settings.gradle
  user/user-application/src/main/java/me/nalab/user/application/service/UserFindByProviderAndTokenService.java
Labels: 🚀 rebase merge

#175 [FIX] token payload에 targetId 추가
  auth/auth-application/build.gradle
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/CreateAuthTokenRequest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/AuthTokenCreateService.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignInWithOAuthService.java
  auth/auth-application/src/main/java/module-info.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/AuthTokenCreateServiceTest.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/SignInWithOAuthServiceTest.java
Labels: 🚀 rebase merge, 🐛 bug-fix

#176 [feat] : auth 인터셉터 추가
  api/build.gradle
  auth/auth-application/src/main/java/me/nalab/auth/application/port/in/web/TargetIdGetPort.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/JwtLoginedDecryptService.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/JwtLoginedDecryptServiceTest.java
  auth/auth-interceptor/build.gradle
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/CannotValidMockTokenException.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-interceptor/src/main/java/module-info.java
  auth/auth-web-adaptor/src/main/java/module-info.java
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 rebase merge, ✨ feature

#177 [feat] : 인증 관련 기능 추가
  api/build.gradle
  auth/auth-application/build.gradle
  auth/auth-application/src/main/java/me/nalab/auth/application/common/dto/CreateAuthTokenRequest.java
  auth/auth-application/src/main/java/me/nalab/auth/application/port/in/web/TargetIdGetPort.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/AuthTokenCreateService.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/JwtLoginedDecryptService.java
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignInWithOAuthService.java
  auth/auth-application/src/main/java/module-info.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/AuthTokenCreateServiceTest.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/JwtLoginedDecryptServiceTest.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/SignInWithOAuthServiceTest.java
  auth/auth-interceptor/build.gradle
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/CannotValidMockTokenException.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/auth-interceptor/src/main/java/module-info.java
  auth/auth-web-adaptor/src/main/java/module-info.java
  coverage-exclude.luffy
  settings.gradle
Labels: ✨ feature, 🔖 release

#179 [chore] : DDL에 user와 user_oauth_info 추가
  api/src/main/resources/db/migration/V2__add_user.sql
Labels: 🍻 chore, 🔖 release

#180 [fix] : flyway v2 ddl 수정
  api/src/main/resources/db/migration/V2__add_user.sql
Labels: 🐛 bug-fix, 🔖 release

#181 [chore] : mock api 다시 추가
  api/build.gradle
Labels: 🍻 chore, 🔖 release

#182 [feat] : survey find 유즈케이스에서, form_type 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/FormQuestionResponseable.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
Labels: 🚀 rebase merge, ✨ feature

#183 [feat] : survey find 유즈케이스에서, form_type 추가 release
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/FormQuestionResponseable.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
Labels: ✨ feature, 🔖 release

#184 [feat] : 리뷰어 개별 응답 목록에서 피드백 읽음처리 기능 추가 (#186)
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/findspecific/SpecificFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findspecific/FeedbackUpdatePort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findspecific/SpecificFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findspecific/SpecificFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptor.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptorTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackController.java
Labels: 🚀 squash merge, ✨ feature

#188 [fix] : 피드백 조회 API에서 누락된 form_type 필드 추가 (#187)
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/AbstractSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/FormFeedbackResponseable.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
Labels: 🚀 squash merge, 🐛 bug-fix

#189 [feat] : form_type, 읽음처리 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/findspecific/SpecificFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findspecific/FeedbackUpdatePort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findspecific/SpecificFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findspecific/SpecificFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptor.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptorTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/AbstractSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/FormFeedbackResponseable.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
Labels: ✨ feature, 🔖 release

#190 [fix] : response json 형식 에러 수정
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
Labels: 🚀 squash merge, 🐛 bug-fix

#191 [fix] : cors 호출시 header 제한 제거 핫픽스
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
Labels: 🐛 bug-fix, 🔖 release

#193 [fix] : response json 형식 에러 수정
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
Labels: 🐛 bug-fix, 🔖 release

#198 [fix] : CORS 구체 경로 추가
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
Labels: 🚀 rebase merge, 🐛 bug-fix

#200 [fix] : delete credentials
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
Labels: 🚀 squash merge, 🐛 bug-fix

#201 [fix] : JwtInterceptor cors config 수정 릴리즈
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
  core/secure/src/main/java/me/nalab/core/secure/CorsConfig.java
Labels: 🐛 bug-fix, 🔖 release

#204 [fix] : bearer 공백으로 제거
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptor.java
Labels: 🐛 bug-fix, 🔖 release

#205 [fix] : 질문 폼의 피드백 요약정보 조회 API에서 예외처리 추가
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/feedbacksummary/SurveyExistCheckPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedbacksummary/FeedbackSummaryFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedbacksummary/FeedbackSummaryFindServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/SurveyExistCheckAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/repository/SurveyExistCheckJpaRepository.java
Labels: 🐛 bug-fix, 🔖 release

#207 [feat] : survey find 유즈케이스에서, form_type 추가 (#183)
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackCreateRequestFixture.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/FeedbackCreateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ChoiceResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/SurveyFindResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/TargetResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findreviewers/ReviewersFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findspecific/SpecificFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findsummary/FeedbackFindSummaryAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/reviewer/summary/ReviewerSummarizeAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/find/SurveyFindAcceptanceTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/response/SurveyIdResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/response/FeedbackReviewer.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/AbstractFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ChoiceFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ReviewerResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/AbstractSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/ChoiceSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/SurveyIdGetController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/response/SurveyIdResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/ChoiceResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/FormFeedbackResponseable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/SpecificFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/ChoiceResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/FormQuestionResponseable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/SurveyFindResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/TargetResponse.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
  user/user-web-adaptor/src/main/java/me/nalab/user/web/adaptor/logined/LoginedUserGetController.java
  user/user-web-adaptor/src/main/java/me/nalab/user/web/adaptor/logined/response/LoginedInfoResponse.java
Labels: ✨ feature, 🔖 release

#209 [fix] : json response `long` to `string`
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackCreateRequestFixture.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/FeedbackCreateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ChoiceResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/FormQuestionResponseable.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/SurveyFindResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/TargetResponse.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findreviewers/ReviewersFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findspecific/SpecificFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findsummary/FeedbackFindSummaryAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/reviewer/summary/ReviewerSummarizeAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/find/SurveyFindAcceptanceTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/response/SurveyIdResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/response/FeedbackReviewer.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/AbstractFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ChoiceFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ReviewerResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/AbstractSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/survey/ChoiceSurveyResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/SurveyIdGetController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findid/response/SurveyIdResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/ChoiceResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/FormFeedbackResponseable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/response/SpecificFeedbackResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/ChoiceResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/FormQuestionResponseable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/SurveyFindResponse.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/TargetResponse.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersResponseMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
  user/user-web-adaptor/src/main/java/me/nalab/user/web/adaptor/logined/LoginedUserGetController.java
  user/user-web-adaptor/src/main/java/me/nalab/user/web/adaptor/logined/response/LoginedInfoResponse.java
Labels: 🐛 bug-fix, 🔖 release

#210 [fix] : `SurveyExistCheckAdaptor` bean collision
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/SurveyExistCheckAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/repository/SurveyExistCheckJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/SurveyExistCheckAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/TestSurveyJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedbacksummary/TestTargetJpaRepository.java
Labels: 🐛 bug-fix, 🔖 release

#212 [fix] max selectable count naming 수정
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/response/ChoiceFormQuestionResponse.java
  core/data/src/main/java/me/nalab/core/data/survey/ChoiceFormQuestionEntity.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/dto/ChoiceFormQuestionDto.java
  survey/application/src/main/java/me/nalab/survey/application/common/survey/mapper/SurveyDtoMapper.java
  survey/application/src/test/java/me/nalab/survey/application/RandomFeedbackDtoFixture.java
  survey/application/src/test/java/me/nalab/survey/application/RandomSurveyDtoFixture.java
  survey/application/src/test/java/me/nalab/survey/application/common/mapper/RandomSurveyFixture.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/ChoiceFormQuestionFeedback.java
  survey/domain/src/main/java/me/nalab/survey/domain/survey/ChoiceFormQuestion.java
  survey/domain/src/test/java/me/nalab/survey/domain/AbstractSurveySources.java
  survey/domain/src/test/java/me/nalab/survey/domain/RandomSurveyFixture.java
  survey/domain/src/test/java/me/nalab/survey/domain/survey/SurveyDomainTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/common/mapper/SurveyEntityMapper.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/RandomFeedbackFixture.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/RandomSurveyFixture.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateRequestMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/survey/find/response/ChoiceFormQuestionResponse.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackResponseMapperTest.java
  survey/web-adaptor/src/test/java/me/nalab/survey/web/adaptor/survey/find/mapper/SurveyFindResponseMapperTest.java
Labels: 🚀 squash merge, 🐛 bug-fix

#214 [refactor] : position naming hotfix
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/FeedbackAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/create/FeedbackCreateAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/find/FeedbackFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findreviewers/ReviewersFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/findspecific/SpecificFindAcceptanceTest.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/RequestSample.java
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
  survey/application/src/test/java/me/nalab/survey/application/service/summaryreviewer/ReviewerSummaryGetServiceTest.java
  survey/domain/src/test/java/me/nalab/survey/domain/feedback/FeedbackDomainTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ReviewerRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReviewerSummaryResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/response/PositionSummaryReponse.java
Labels: ♻️ refactor, 🔖 release

#215 [fix] : mock api `\t` delete
  api/api-mock/src/main/java/me/nalab/api/mock/MockController.java
Labels: 🐛 bug-fix, 🔖 release

#216 [refactor] : unique constraint to `users.email`
  api/src/main/resources/db/migration/V3__user_email_unique.sql
  core/data/src/main/java/me/nalab/core/data/user/UserEntity.java
Labels: ♻️ refactor, 🔖 release

#211 [fix] 로그인 시 target 생성 삭제 및 조회 기능 구현
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignInWithOAuthService.java
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/target/find/TargetFindByUsernameUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/target/find/TargetFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/TargetFindByUsernameService.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/find/TargetFindByUsernameServiceTest.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/find/TargetFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/find/repository/TargetFindRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/find/TargetFindAdaptorTest.java
Labels: 🐛 bug-fix, 🔖 release

#225 [hotfix] sign in 인수 test 타겟 초기화 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/SignInWithOAuthAcceptanceTest.java
  auth/auth-application/src/test/java/me/nalab/auth/application/service/SignInWithOAuthServiceTest.java
Labels: 🚀 rebase merge

#226 [fix] : `feedback.short` 누락된 필드 추가
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/ResponseMapper.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/response/feedback/ShortFeedbackResponse.java
Labels: 🐛 bug-fix, 🔖 release

#227 [fix] : 토큰생성시 잘못된 값 바인딩되던 버그 수정
  auth/auth-application/src/main/java/me/nalab/auth/application/service/SignInWithOAuthService.java
Labels: 🐛 bug-fix, 🔖 release

#229 [fix] 기존 로그인 방식을 위한 v1 api 재생성
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/AbstractAuthTestSupporter.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/SignInWithOAuthV1AcceptanceTest.java
  auth/auth-web-adaptor/src/main/java/me/nalab/auth/web/adaptor/api/SignInWithOAuthController.java
  auth/auth-web-adaptor/src/main/java/me/nalab/auth/web/adaptor/api/SignInWithOAuthV1Controller.java
Labels: 🚀 squash merge, 🐛 bug-fix

#232 [fix] target 초기화 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/auth/signin/SignInWithOAuthV1AcceptanceTest.java
Labels: 🚀 squash merge, 🐛 bug-fix

#224 [feat] : authorization core `api`, `spi`, `engine`
  core/authorization/authorization-core/build.gradle
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/api/Authorizer.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/CannotAuthorizationException.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/DefaultAuthorizerEngine.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/ParameterReference.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/WrongReferenceTypeException.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/spi/ParameterExtractor.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/spi/Validator.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/spi/ValidatorFactory.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/spring/Configurer.java
  core/authorization/authorization-core/src/main/java/module-info.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/engine/DefaultAuthorizationEngineTest.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/engine/ParameterReferenceTest.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/spi/AuthorizationSystemTest.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/LongValidExtractor.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/LongValidator.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/LongValidorFactory.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/StringValidExtractor.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/StringValidator.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/StringValidatorFactory.java
  core/authorization/build.gradle
  coverage-exclude.luffy
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#238 [refactor] : survey가 여러개일시 마지막 값이 반환되도록 수정
  survey/application/src/main/java/me/nalab/survey/application/service/getid/SurveyIdGetService.java
  survey/application/src/test/java/me/nalab/survey/application/service/getid/SurveyIdGetServiceTest.java
Labels: ♻️ refactor, 🔖 release

#237 [feat] : `@Authorization` 어노테이션 기반 권한 검증 기능
  core/authorization/authorization-aop/build.gradle
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/AuthorizationAspect.java
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/meta/Auth.java
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/meta/Authorization.java
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/util/ValidatorFactoryStorage.java
  core/authorization/authorization-aop/src/main/java/module-info.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/AspectTarget.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/AuthorizationAspectTest.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/validator/LongValidExtractor.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/validator/LongValidator.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/validator/LongValidorFactory.java
  settings.gradle
Labels: 🚀 squash merge, ✨ feature

#239 [feat] : survey authorization validator 확장 정의
  core/authorization/authorization-aop/src/main/java/module-info.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/validator/LongValidExtractor.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/api/ParameterReference.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/api/WrongReferenceTypeException.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/DefaultAuthorizerEngine.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/spi/ParameterExtractor.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/engine/ParameterReferenceTest.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/spi/AuthorizationSystemTest.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/LongValidExtractor.java
  core/authorization/authorization-core/src/test/java/me/nalab/core/authorization/validator/StringValidExtractor.java
  coverage-exclude.luffy
  survey/application/build.gradle
  survey/application/src/main/java/me/nalab/survey/application/port/in/authorization/SurveyAuthorization.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/authorization/TargetIdFindPort.java
  survey/application/src/main/java/me/nalab/survey/application/service/authorization/FeedbackIdValidator.java
  survey/application/src/main/java/me/nalab/survey/application/service/authorization/FeedbackIdValidatorFactory.java
  survey/application/src/main/java/me/nalab/survey/application/service/authorization/LongParameterExtractor.java
  survey/application/src/main/java/me/nalab/survey/application/service/authorization/SurveyIdValidator.java
  survey/application/src/main/java/me/nalab/survey/application/service/authorization/SurveyIdValidatorFactory.java
  survey/application/src/main/java/module-info.java
  survey/application/src/test/java/me/nalab/survey/application/service/authorization/FeedbackIdValidatorTest.java
  survey/application/src/test/java/me/nalab/survey/application/service/authorization/SurveyIdValidatorTest.java
Labels: 🚀 squash merge, ✨ feature

#240 [feat] : survey authorization jpa-adaptor 모듈 구현
  survey/application/src/main/java/module-info.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/repository/TargetIdFindJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TestFeedbackJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TestSurveyJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TestTargetJpaRepository.java
Labels: 🚀 squash merge, ✨ feature

#241 [fix] : 질문폼생성, 응답 부분에 @Valid 검증 추가
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/RequestSample.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/SurveyAcceptanceValidator.java
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/survey/create/SurveyCreateAcceptanceTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/FeedbackCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ReviewerRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/request/ShortQuestionFeedbackRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ChoiceFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/FormQuestionRequestable.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ShortFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/SurveyCreateRequest.java
Labels: 🐛 bug-fix, 🔖 release

#242 [feat] : survey controller에 권한 AOP 부착
  api/acceptance-test/src/test/java/me/nalab/luffy/api/acceptance/test/feedback/reviewer/summary/ReviewerSummarizeAcceptanceTest.java
  auth/auth-interceptor/src/main/java/me/nalab/auth/interceptor/JwtDecryptInterceptorConfigurer.java
  auth/mock/src/main/java/me/nalab/auth/mock/config/MockAuthConfigurer.java
  coverage-exclude.luffy
  survey/application/src/main/java/me/nalab/survey/application/port/in/authorization/SurveyAuthorization.java
  survey/application/src/main/java/module-info.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/authorization/repository/TargetIdFindJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/authorization/TargetIdFindAdaptorTest.java
  survey/web-adaptor/build.gradle
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbackreviewers/FeedbackReviewersController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/feedbacksummary/FeedbackSummaryController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/FeedbackFindController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findspecific/SpecificFeedbackController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/summaryreviewer/ReveiwerSummaryController.java
  survey/web-adaptor/src/main/java/module-info.java
Labels: 🚀 squash merge, ✨ feature

#244 [feat] : authorization fail exception handler 추가
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/ErrorTemplate.java
  core/authorization/authorization-aop/src/main/java/module-info.java
  core/authorization/authorization-aop/src/test/java/me/nalab/core/authorization/aop/AuthorizationAspectTest.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/api/CannotAuthorizationException.java
  core/authorization/authorization-core/src/main/java/me/nalab/core/authorization/engine/DefaultAuthorizerEngine.java
  coverage-exclude.luffy
Labels: 🚀 squash merge, ✨ feature

#250 [Chore] logback, sentry 설정 추가
  .github/workflows/docker-publisher.yml
  Dockerfile
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/logback-spring.xml
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
Labels: 🚀 rebase merge, 🍻 chore

#249 [feat] : xss interface 및 engine 정의
  core/secure/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/cors/CorsConfig.java
  core/secure/src/main/java/me/nalab/core/secure/xss/config/XssConfig.java
  core/secure/src/main/java/me/nalab/core/secure/xss/engine/XssEngine.java
  core/secure/src/main/java/me/nalab/core/secure/xss/engine/aop/XssAopEngine.java
  core/secure/src/main/java/me/nalab/core/secure/xss/exception/UnknownXssFilterException.java
  core/secure/src/main/java/me/nalab/core/secure/xss/meta/Xss.java
  core/secure/src/main/java/me/nalab/core/secure/xss/meta/XssFiltering.java
  core/secure/src/main/java/me/nalab/core/secure/xss/spi/XssFilter.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssFilterAopRegisterTest.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssFilterTarget.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssTestFilter.java
  coverage-exclude.luffy
Labels: 🚀 squash merge, ✨ feature

#252 [feat] : JSON xss filter 추가
  core/secure/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/xss/json/JsonXssFilter.java
  core/secure/src/main/java/me/nalab/core/secure/xss/json/JsonXssFilterException.java
  core/secure/src/main/java/me/nalab/core/secure/xss/json/XssCharacterEscapes.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/JsonXssFilterTest.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/Request.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/RequestWrapper.java
  coverage-exclude.luffy
Labels: 🚀 squash merge, ✨ feature

#251 [feat] : `읽음 처리 기능` 수정 및 추가
  survey/application/src/main/java/me/nalab/survey/application/port/in/web/findfeedback/FeedbackFindUseCase.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findfeedback/FeedbackUpdatePort.java
  survey/application/src/main/java/me/nalab/survey/application/port/out/persistence/findspecific/FeedbackUpdatePort.java
  survey/application/src/main/java/me/nalab/survey/application/service/findfeedback/FeedbackFindService.java
  survey/application/src/main/java/me/nalab/survey/application/service/findspecific/SpecificFindService.java
  survey/application/src/test/java/me/nalab/survey/application/service/findfeedback/FeedbackFindServiceTest.java
  survey/application/src/test/java/me/nalab/survey/application/service/findspecific/SpecificFindServiceTest.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/Feedback.java
  survey/domain/src/main/java/me/nalab/survey/domain/feedback/FormQuestionFeedbackable.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/FeedbackUpdateAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findfeedback/repository/FeedbackUpdateRepository.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptor.java
  survey/jpa-adaptor/src/main/java/me/nalab/survey/jpa/adaptor/findspecific/repository/FeedbackUpdateJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/FeedbackUpdateAdaptorTest.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/TestFeedbackUpdateJpaRepository.java
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findspecific/FeedbackUpdateAdaptorTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/findfeedback/FeedbackFindController.java
Labels: ✨ feature, 🔖 release

#256 [fix] : 질문 폼 생성 validation 수정
  survey/jpa-adaptor/src/test/java/me/nalab/survey/jpa/adaptor/findfeedback/FeedbackUpdateAdaptorTest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/SurveyCreateRequest.java
Labels: 🚀 squash merge, 🐛 bug-fix

#253 [feat] : 생성에 `@XssFiltering` 부착
  core/secure/src/main/java/module-info.java
  survey/web-adaptor/build.gradle
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/FeedbackCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ChoiceFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ShortFormQuestionRequest.java
  survey/web-adaptor/src/main/java/module-info.java
Labels: 🚀 squash merge, ✨ feature

#257 [feat] : xss protect 추가
  core/secure/build.gradle
  core/secure/src/main/java/me/nalab/core/secure/cors/CorsConfig.java
  core/secure/src/main/java/me/nalab/core/secure/xss/config/XssConfig.java
  core/secure/src/main/java/me/nalab/core/secure/xss/engine/XssEngine.java
  core/secure/src/main/java/me/nalab/core/secure/xss/engine/aop/XssAopEngine.java
  core/secure/src/main/java/me/nalab/core/secure/xss/exception/UnknownXssFilterException.java
  core/secure/src/main/java/me/nalab/core/secure/xss/json/JsonXssFilter.java
  core/secure/src/main/java/me/nalab/core/secure/xss/json/JsonXssFilterException.java
  core/secure/src/main/java/me/nalab/core/secure/xss/json/XssCharacterEscapes.java
  core/secure/src/main/java/me/nalab/core/secure/xss/meta/Xss.java
  core/secure/src/main/java/me/nalab/core/secure/xss/meta/XssFiltering.java
  core/secure/src/main/java/me/nalab/core/secure/xss/spi/XssFilter.java
  core/secure/src/main/java/module-info.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssFilterAopRegisterTest.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssFilterTarget.java
  core/secure/src/test/java/me/nalab/core/secure/xss/XssTestFilter.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/JsonXssFilterTest.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/Request.java
  core/secure/src/test/java/me/nalab/core/secure/xss/json/RequestWrapper.java
  coverage-exclude.luffy
  survey/web-adaptor/build.gradle
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createfeedback/FeedbackCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/SurveyCreateController.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ChoiceFormQuestionRequest.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/createsurvey/request/ShortFormQuestionRequest.java
  survey/web-adaptor/src/main/java/module-info.java
Labels: 🚀 rebase merge, ✨ feature

#259 [hoxfix] dockerfile 오타 수정
  Dockerfile
Labels: 🚀 rebase merge

#260 [release] dockerfile 오타 수정
  Dockerfile
Labels: 🔖 release

#261 [hoxfix] sentry, logback 관련 commit revert
  .github/workflows/docker-publisher.yml
  Dockerfile
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/logback-spring.xml
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
Labels: 🔖 release

#262 [r2m] 230619 r2m
  .github/workflows/docker-publisher.yml
  Dockerfile
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/logback-spring.xml
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
Labels: 🚀 rebase merge

#263 [infra] sentry, logback 설정 추가
  .github/workflows/docker-publisher.yml
  Dockerfile
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/main/resources/logback-spring.xml
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
Labels: 🚀 rebase merge

#264 [chore] logging module 추가
  api/build.gradle
  api/src/main/resources/application.properties
  gradle.properties
  settings.gradle
  support/logging/.gitignore
  support/logging/build.gradle
  support/logging/src/main/resources/logback-spring.xml
  support/logging/src/main/resources/logging.properties
Labels: 🚀 rebase merge, 🍻 chore

#265 [m2r] 230619 배포 열차
  .github/workflows/docker-publisher.yml
  Dockerfile
  api/build.gradle
  api/src/main/resources/application.properties
  core/authorization/authorization-aop/src/main/java/me/nalab/core/authorization/aop/advice/AuthorizationExceptionAdvice.java
  core/exception-handler/src/main/java/me/nalab/core/exception/handler/ValidationControllerAdvice.java
  gradle.properties
  settings.gradle
  support/logging/.gitignore
  support/logging/build.gradle
  support/logging/src/main/resources/logback-spring.xml
  support/logging/src/main/resources/logging.properties
  survey/web-adaptor/src/main/java/me/nalab/survey/web/adaptor/advice/FeedbackControllerAdvice.java
Labels: 🔖 release

#266 [fix] sentry controller 추가
  api/src/main/java/me/nalab/api/sentry/SentryController.java
  coverage-exclude.luffy
Labels: 🚀 rebase merge, 🐛 bug-fix

#267 [fix] sentry logback version 수정
  gradle.properties
  support/logging/build.gradle
Labels: 🐛 bug-fix, 🔖 release

#270 [chore] : dev 서버용 secret 추가 및 ci,cd action 추가
  .github/workflows/docker-release-publisher.yml
  .github/workflows/docker-stage-publisher.yml
  .github/workflows/start-release-server.yml
  .github/workflows/start-stage-server.yml
Labels: 🚀 squash merge, 🍻 chore

#272 [chore] : stage-server-start action에 sudo 옵션 추가
  .github/workflows/start-stage-server.yml
Labels: 🚀 squash merge, 🍻 chore

#277 [test] : survey 생성 e2e 테스트
  support/e2e/survey_create.hurl
Labels: 🚀 squash merge, ✅ test

#278 [test] : feedback 생성 e2e 테스트
  support/e2e/feedback_create.hurl
Labels: 🚀 squash merge, ✅ test

#280 [chore] : e2e 테스트 action CI 추가
  .github/workflows/e2e.yml
  support/e2e/1_survey_create.hurl
  support/e2e/2_feedback_create.hurl
  support/e2e/Dockerfile
Labels: 🚀 squash merge, 🍻 chore

#279 [test] : feedback 조회 ece test
  support/e2e/3_feedback_find.hurl
Labels: 🚀 squash merge, ✅ test
